body {
  background-color: black;
}

@font-face {
  font-family: "Humane";
  src: local("Humane"),
    url("../../public/assets/fonts/Humane-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"),
    url("../../public/assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),
    url("../../public/assets/fonts/Helvetica.ttf") format("truetype");
}

:root {
  --primary-font: "BebasNeue", serif;
  --secondary-font: "Humane", serif;
  --tertiary-font: "Helvetica", serif;
  --cream: #fff1ce;
  --red: #ff0000;
  /* Text-size styles */
}
.redaccent {
  background-color: var(--red);
  width: 6rem;
  height: 1rem;
  margin-bottom: 1rem;
}
.subcontainer {
  margin: 96px 24px;
  background-color: black;
  position: relative;
}
h1 {
  font-family: var(--primary-font);
  color: var(--cream);
  font-weight: 400;
  line-height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 6rem;
}

h2 {
  font-family: var(--secondary-font);
  color: var(--red);
  font-weight: 400;
  line-height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 4rem;
}
h3 {
  font-family: var(--primary-font);
  color: transparent;
  font-weight: 400;
  line-height: 100%;
  -webkit-text-stroke: 0.2rem white;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 6rem;
}
h4 {
  font-family: var(--primary-font);
  color: var(--cream);
  font-weight: 400;
  line-height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
.container {
  position: relative;
}
.subcontainerbg {
  padding: 24px;
  position: relative;
  height: 93vh;
}
p {
  font-family: var(--tertiary-font);
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
}

.flexrow {
  display: flex;
  flex-direction: column;
}
.accentedtext {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.btncontainer {
  float: left;
  display: inline-grid;
  gap: 24px;
  grid-template-columns: repeat(2, auto);
}
button {
  font-family: var(--primary-font);
  font-size: 2rem;
  background: none;
  border: 2px solid transparent;
  border-color: red;
  box-sizing: border-box;
  padding: 0.5em 1em;
  color: red;
  position: relative;
}
button::before, button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
  transition: color 0.12s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: white;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: white;
  border-right-color: white;
  transition: width 0.12s ease-out, height 0.12s ease-out 0.12s;
}
.draw:hover::after {
  border-bottom-color: white;
  border-left-color: white;
  transition: border-color 0s ease-out 0.25s, width 0.12s ease-out 0.25s, height 0.12s ease-out 0.36s;
}
@media (min-width: 768px) {
  h1,
  h3 {
    font-size: 8rem;
  }
  h2 {
    font-size: 6rem;
  }
  .flexrow {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  h1,
  h3 {
    font-size: 10rem;
  }
  h2 {
    font-size: 8rem;
  }
}
