body {
  background-color: black;
}

@font-face {
  font-family: "Humane";
  src: local("Humane"),
    url("../../public/assets/fonts/Humane-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"),
    url("../../public/assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),
    url("../../public/assets/fonts/Helvetica.ttf") format("truetype");
}

:root {
  --primary-font: "BebasNeue", serif;
  --secondary-font: "Humane", serif;
  --tertiary-font: "Helvetica", serif;
  --cream: #fff1ce;
  --red: #ff0000;
  /* Text-size styles */
}

h1 {
font-family: var(--primary-font);
color: var(--cream);
font-weight:400;
line-height: 100%;
margin: 0;
padding: 0;
}

h2 {
font-family: var(--secondary-font);
color: var(--red);
font-weight:400;
line-height: 100%;
margin: 0;
padding: 0;
}
h3 {
  font-family: var(--primary-font);
  color: transparent;
  font-weight:400;
  line-height: 100%;
  -webkit-text-stroke: 0.2rem white;
  margin: 0;
padding: 0;
  }
  h4 {
    font-family: var(--primary-font);
    color: var(--cream);
    font-weight:400;
    line-height: 100%;
    margin: 0;
padding: 0;

    }

p {
font-family: var(--tertiary-font);
color: white;
font-weight:400;
margin: 0;
padding: 0;
}


    

