

.bg {
  position: absolute;
  z-index: -1;
  background-image: url("../../public/assets/images/blacklivesmatterprotest.jpg");
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: auto;
  opacity: 40%;
  background-position: center;
}
.headings1 {
  margin-bottom: 24px;
}
.heading {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 24px;
  padding-right: 24px;
}

.s1 {
  width: 100%;
  margin-right: 0px;
}
.s2 {
  position: relative;
  background-color: #a4915f;
  padding: 24px;
  height: 50%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-top: 24px;
}

.s3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 232px;
}
.s4 {
  position: relative;
  width: 100%;
}
.captionedimage {
  display: flex;
  flex-direction: column;
}

.caption {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin: 24px 0 48px;
}
.MartinLutherKing {
  background-image: url("../../public/assets/images/MartinLutherKing.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.MalcomX {
  background-image: url("../../public/assets/images/MalcomX.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.phone {
  position: relative;
  background-image: url("../../public/assets/images/phone");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 48rem;
  margin: 0 auto;
  margin-bottom: 24px;
}
.footsteps {
  position: relative;
  background-image: url("../../public/assets/images/footsteps.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 24rem;
  margin-bottom: 24px;
}
.rightalign {
  text-align: right;
}

.scrolldown {
  height: 30px;
  width: 50px;
  border: 2px solid white;
  position: absolute;
  bottom: 24px;
  right: 24px;
  border-radius: 50px;
  cursor: pointer;
}
.scrolldown::before,
.scrolldown::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-100%, 30%) rotate(-45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scrolldown 1s ease-in-out infinite;
}
.scrolldown::before {
  left: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scrolldown {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    left: 90%;
    opacity: 0;
  }
}
footer {
  margin: 96px 24px;

}
.codedby {

  text-align: center;
  font-weight: 700;
  display: block;
}
.btncontainermargin {

  margin-top: 48px;
}
@media (min-width: 768px) {
  .footsteps {
    margin-bottom: 0px;
  }

  .internetracismp {
    position: absolute;
    bottom: 24px;
    margin-left: 24px;
  }
  .s1 {
    width: 60%;
  }
  .s3 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .phone {
    width: 100%;
    height: 48rem;
    margin-bottom: 0;
  }
  .s2 {
    display: flex;
    flex-direction: column;
    background-color: #a4915f;
    height: 100vh;
    padding: 24px;
    width: 40%;
    overflow-y: auto;
    margin-top: 24px;
    margin-left: 24px;
  }
  .captionedimage {
    width: 24rem;
    height: 24rem;
  }
  .flexrow {
    display: flex;
    flex-direction: row;
  }

  .scrolldown {
    height: 50px;
    width: 30px;
    border: 2px solid white;
    position: absolute;
    bottom: 24px;
    right: 24px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scrolldown::before,
  .scrolldown::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid white;
    border-top: transparent;
    border-left: transparent;
    animation: scrolldown 1s ease-in-out infinite;
  }
  .scrolldown::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }

  @keyframes scrolldown {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
}

