.box {
  background-color: white;
  height: 24px;
  width: 24px;
  margin: 2rem 0;
}

.line {
  background-color: white;
  margin: 0 auto;
  height: 4px;
  width: 6rem;
}

.timeline {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name {
  font-size: 32px;
}

.detail {
  font-size: 0.8rem;
}
.timetext {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 50%;
}
@media (min-width: 768px) {
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .time {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .box {
    background-color: white;
    height: 24px;
    width: 24px;
    margin: 0 3rem;
  }

  .line {
    background-color: white;
    margin: 0 auto;
    height: 6rem;
    width: 4px;
  }
}
